*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

 .container-fluid{
    background-color: #181818;
    /* padding: 15px; */
}

.logos{
    color: #707070;
    text-decoration: none;
}

.logos:hover{
    text-decoration: none;
    color: #48cfad;
}

body{
    background-color: #252627;
    font-family: sans-serif;
    color: #fff;
}  

   
h1{
    font-size: 4em;
    margin-bottom: 40px;
    color: #707070;
}

h3{
    font-weight: 550;
    font: 30px;
}

section{
    margin: 15px 0;
    position: relative;
}

p{
    font-size: 22px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

button{
    padding: 15px;
    border: none;
    background: crimson;
    width: 150px;
}


@media screen and (min-width: 600px) {
    #disp{
        display: none;
    }
    
    ul{
        display: flex;
        list-style-type: none;
        margin-left: 200px;
        align-items: center;
        padding: 20px;
    }

    li{
        margin-left: 25px;
    }

    a{
        color: #707070;
    }

    a:hover{
        text-decoration: none;
        color: #48cfad;
    }

    .live{
        color: #fff;
        text-decoration: underline;
        font-size: 20px;
        font-weight: 500;
    }
    #logo{
        position: absolute;
        color: #707070;
        cursor: default;
        font-family: sans-serif;
        font-size: 20px;
        padding: 20px;
    }
}

@media screen and (max-width: 600px) {
    #disp{
        display: block ;
        margin-top: 15px;
    }
  
    .item {
        display: none;
    }

    .item.active{
        display:block ;
    }

    nav{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    ul{
        list-style: none;
        text-align: center;
        align-self: center;
        margin: 10px;
    }

    li{
        padding: 5px;
    }

    button{
        padding: 10px;
    }

    .live{
        color: #fff;
        font-size: 20px;
    }

    a{
        color: #707070;
        font-family: sans-serif;
        cursor: default;
        font-weight: 600;
    } 

    #logo{
        position: absolute;
        color: #707070;
        cursor: default;
        font-family: sans-serif;
        font-size: 20px;
        margin-top: 15px;
    }
}