*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    font-size: 80px;
    margin-bottom: 40px;
}

h3{
    font-weight: 550;
    font: 30px;
}

section{
    margin: 10px 0;
    position: relative;
}

p{
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: .8;
}


a{
    font-size: 22px;
    text-decoration: underline;
    position: relative;
    bottom: 20px;
}

a:hover{
    text-decoration: none;
}

.item {
    display: none;
}

.item.active{
    display:block ;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

ul{
    list-style: none;
    margin-top: 45px;
    text-align: center;
    align-self: center;
}

#logo{
    position: absolute;
    cursor: default;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li{
    padding: 5px;
}