* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    padding: 150px 0;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.container-fluid{
    background-color: #181818;
}

.a, .lgo{
    color: #707070;
    padding-left: 10px;
    padding-right: 10px;
}

.lgo{
    cursor: default;
}

.a:hover{
    color: #48cfad;
    text-decoration: none;
    transition: .5s all ease-in;
}

ul li {
    list-style: none;
}
.navul {
    list-style-type: none;
    margin-left: 20px;
    margin-top: 18px;
}
.main-info-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pad h1{
    color: #707070;
}

.marv {
    color: crimson;
}

a {
    text-decoration: none;
    font-size: .9rem;
    position: relative;
    transform: translateY(-50%);
}

.main-info-section{
    height: calc(100vh - 81.6px) ;
}

.text {
    margin-top: 120px;
}

.text h1 {
    color: #fff;
    font-size: 3rem;
    cursor: context-menu;
}

body{
    background-color: #252627;
}

.text2 {
    color: #fff;

}

.text span{
    display: inline-block;
}


span:hover {
    color: #48cfad ;
    transition: all .5s ease-in-out;
}

span.marv{
    color: #ed5565;
}

.link{
    padding: 12px 25px ;
    background-color: none;
    border: 3px solid #ed5565 ;
    color: #ed5565;
    font-size: .8rem;
    letter-spacing: 2px;
    position: relative;
    top: 60px;
    overflow: hidden;
    transition: .5s;
    display: inline-block;
}

.link:hover{
    color: #fff;
    text-decoration: none;
}

.link::before{
    content: "";
    background-color: #ed5565;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: .5s;
}
.link:hover::before{
    height: 100%;
}

.body2{
    margin-top: 100px;
}

.body3{
    margin-top: 20px;
}
.late {
    color: #fff;
    cursor: context-menu;
}
.late:hover{
    color:#48cfad;
    transition: .5s ease-in-out;
}

.img{
    width: 400px;
    height: 400px;
}


.img-wrapper{
    width: 5px;  
}

.footer{
    margin-top: px;
}

.body3 h1{
    color: #707070;
    font-size: 5rem;
    opacity: .5;
}

.languages{
    color: #fff;
    font-size: 3rem;
    margin-bottom: 50px;
}

.text{
    color: #fff;
    margin-top: 50px;
}

.text.about{
    font-size: 2rem;
}

.body4 h1{
    color: #707070;
    font-size: 5rem;
    opacity: .5;
    margin-top: 0px;
}


form input, 
form textarea{
    display: block;
    padding: 15px;
    width: 500px;
    background-color: #252627;
    border: 3px solid #707070;
    margin: 20px 0;
    outline: none;
    font-size: 1.2rem;
    color: #fff;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}

form input:last-child{
    width: 150px;
    background-color: #ed5565;
    border: none;
    cursor: pointer;

}


.img-display{
    margin-top: 80px;
    margin-bottom: 40px;
}

.img-display a{
    color: #fff;
    border: 3px solid #fff;
    background-color: #fff;
    padding: 10px;
    color: black;
    font-weight: bold;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.back-none{
    border: none;
}

.hobbies{
    color: #707070;
}

.hobbies-listed{
    margin-left: 30px;
}
.hobbies-listed li{
    font-weight: bold;
    list-style: disc;
    padding: 3px;
}

/*Over rides bootsrap's container class*/
.full-width {
    width: 99.4vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
}


section.myworks{
    display: flex;
    flex-direction: column;
    text-align: center;
    display: none;
}

.zodiac{
    color: #fff;
    text-decoration: underline;
}

.zodiac:hover{
    text-decoration: none;
}

.icon{
    height: 40px;
    margin: 30px 0;
    padding: 0 3px;
}

.github {
    background:#fff;
}

.icons{
    margin:-20px 0;
}


@media screen and (max-width: 550px) {
    .container-fluid,.navbar, .header{
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .full-width{
            width: 150vw;
            position: relative;
            left: 50%;
            right: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
            color: teal;
            display: flex;
            justify-content: center;
            align-items: center;
        }
}


section.myworks img{
    width: 60%;
    padding: 20px 0;
}



.slider{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background: crimson;
    opacity: .5;
    /* background: linear-gradient(to left, #ba7453, #d1a984);  */
    z-index: 1;
}